# Игнорируем только внутреннюю папку провайдеров Terraform
.terraform/

# Игнорируем файлы состояния (state), так как они могут содержать секреты
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Игнорируем файлы с переменными, где вы будете хранить пароли
*.tfvars
*.tfvars.json

# Игнорируем логи ошибок
crash.log

# Игнорируем временные файлы планов
*.tfplan